<?xml version="1.0"?>


<configuration>

  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <browser.Properties.Settings>
            <setting name="serverip" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="nick" serializeAs="String">
                <value />
            </setting>
            <setting name="card" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifupdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="channel" serializeAs="String">
                <value>0</value>
            </setting>
        </browser.Properties.Settings>
    </userSettings>
</configuration>
